.item-name{
    font-size: 1.5rem;
}

.vendor-name{
    font-size: 1.25rem;
}

.price{
    font-size: 1.5rem;
}

.card-item{
    background-color: pink;
}

.plus-one, .minus-one, .trash-can:hover{
    cursor: pointer;
}

.plus-one:hover{
    color: green;
}

.minus-one:hover, .trash-can:hover{
    color: red;
}